*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cantainer{
    
    background-image:url("pattern-background-desktop.svg") ;
    background-repeat: no-repeat;
   background-color: rgb(201, 220, 228); 
  width: 100vw;
  height: 100vh;
  position: relative;
}

.img-div{
 width:30vw;

position: absolute;
left: 50%;
top: 50%;
transform: translate(-50% ,-50%);


}

.hero-img{
width:30vw;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
 
}
.main-contain{
 text-align: center;
 background-color: white;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;

}
h2{
    padding-top: 30px;
}
.intro-p{
    margin-top: 10px;
}
.annualplan{
display:flex;
border-radius: 5px;
 margin-left: 1vw;
 margin-top: 15px;
width: 28vw;  
 background-color: rgb(194, 188, 180);
}
.plan{
    margin-left: 10px;
    
    margin-top:5px;
}
.change{
   margin-left:10vw;
  margin-top: 15px;

}
button{
    background-color: blue;
    width:28vw;
    height:30px;
    margin-top: 15px;
    border-radius: 10px;
    border: none;
    color: white;
    text-align: center;
}
.cancle{
    margin: 10px;
    padding-bottom: 20px;
}
.music-img{
    width: 5vw;
    margin-left: 1vw;
}

 @media(max-width:480px){
    
.cantainer{
    background-image:url("pattern-background-desktop.svg") ;
}
    .img-div{
        width: 90vw;
        height: 90vh;
    }
    .hero-img{
        width: 90vw;
    }
    .annualplan ,button{
     width: 88vw;
 }
.music-img{
  width: 8vw;
}
.change{
  margin-left:30vw;
}

}

@media(max-width:768px) and (min-width:481px){
    .img-div{
        width: 50vw;
        height: 92vh;
    }
    .hero-img{
        width: 50vw;
    }
    .annualplan {
     width: 45vw;
     margin-left:2.5vw;
 }
 .plan{
    margin-top: 2vh; 
}
 button{
    width:45vw ;
 }
.music-img{
  width: 8vw;
}
.change{
  margin-left:17vw;
  margin-top: 2vh;
}

}
@media(max-width:1024px) and (min-width:769px){
    .img-div{
        width:40vw;
        height: 85vh;
    }
    .hero-img{
        width: 40vw;
    }
    .annualplan {
     width:38vw;
     margin-left:1vw;
 }
 .plan{
    margin-top: 2vh; 
}
 button{
    width:38vw ;
 }
.music-img{
  width: 8vw;
}
.change{
  margin-left:10vw;
  margin-top: 2vh;
}

}
@media(max-width:1200px) and (min-width:1025px){
    .img-div{
        width:30vw;
        height: 85vh;
    }
    .hero-img{
        width: 30vw;
    }
    .annualplan {
     width:28vw;
     margin-left:1vw;
 }
 
.plan{
    margin-top: 2vh; 
}
 button{
    width:28vw ;
 }
.music-img{
  width: 8vw;
}
.change{
  margin-left:5vw;
}

}
